.active-section {
    padding: 75px 0 25px;
}
.active-section .header-wrap {
    max-width: 560px;
    margin: 0 auto;
}
.active-section .title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 32px;
    font-family: var(--font-mackinac-medium);
    color: var(--color-Xdark-green)
}
.active-section .text {
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
    font-family: var(--font-cerebri-book);
    color: var(--color-normal-green)
}
.active-section .bubbles-wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 780px;
    margin: 30px auto 25px;
    justify-content: center;
}
.active-section .bubbles {
    padding: 4px 9px;
    background-color: #fff;
    margin: 0 3px 15px;
    font-size: 18px;
    color: var(--color-normal-green);
    text-transform: capitalize;
    font-family: var(--font-cerebri-book);
    display: block;
    cursor: pointer;
    position: relative;
      white-space: nowrap;
}
.active-section .bubbles.tooltip::after,
.active-section .bubbles.tooltip-fadeout::after{
    cursor: initial;
    content: "";
    width: 20px;
    display: inline-block;
    height: 20px;
    position: absolute;
    background-color: #fff;
    border-left: 0 solid transparent;
    border-bottom: 1px solid #033;
    border-top: 0 solid transparent;
    border-right: 1px solid #033;
    z-index: 2;
    left: calc(50% - 10px);
    top: calc(100% + 5px);
    transform: rotate(-134deg);
    border-radius: 0 0 4px 0;
}
.active-section .bubbles.tooltip-fadeout::after {
    opacity: 0;
    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}

.active-section .hide-ingredients-desk {
    display: none;
}
.active-section #view-actives {
    font-size: 18px;
    color: var(--color-Xdark-green);
    text-transform: capitalize;
    font-family: var(--font-secondary-normal);
    text-decoration: underline;
}
.active-section .ingredients-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.active-section .bubbles-inner-wrap {
/*     position: relative; */
    display: none;
}
.active-section .show-ingredients {
    display: block;
}
.active-section .product-tooltip {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    width: 290px;
    z-index: 1;
    border: 1px solid #033;
    display: none
}
/*
.active-section .product-tooltip::after {
    content: "";
    width: 20px;
    display: inline-block;
    height: 20px;
    position: absolute;
    background-color: #fff;
    border-left: 0 solid transparent;
    border-bottom: 1px solid #033;
    border-top: 0 solid transparent;
    border-right: 1px solid #033;
    z-index: 999;
    left: 15%;
    top: -11px;
    transform: rotate(-134deg);
    border-radius: 0 0 4px 0;
}
*/
.active-section .tooltip-text {
    margin: 0;
    font-size: 16px;
    color: var(--color-normal-green);
    font-family: var(--font-cerebri-book);
}
.active-section .bubbles-inner-wrap .close {
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer
}
.active-section .close svg {
    width: 12px;
    height: 12px;
}
.active-section .close g {
    stroke: var(--color-Xdark-green)
}
@media screen and (max-width: 1279px) {
    .active-section .bubbles {
        font-size: 17px;
    }
}
@media screen and (max-width: 767px) {
    .active-section .hide-ingredients.show-ingredients-mob {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .active-section {
        padding: 50px 0 25px;
    }
    .active-section .bubbles-wrap {
        position: relative;
    }
    .active-section .bubbles-inner-wrap {
        position: unset;
    }
    .active-section .product-tooltip {
        border-radius: 5px;
      	max-width: 50%;
        width: auto;
        justify-content: center;
        align-items: center;
      	width: 50%;
    }
    .active-section .tooltip-text {
      	font-size: 12px;
    }
    .active-section .title {
        font-size: 20px;
    }
    .active-section .text {
        font-size: 14px;
        max-width: 310px;
        margin: 0 auto;
    }
    .active-section #view-actives {
        font-size: 14px;
    }
    .active-section .link_text {
        margin-bottom: 20px;
    }
    .active-section .bubbles {
        padding: 4px;
        margin: 0 2px 11px;
        font-size: 10px;
    }
    .active-section .bubbles.tooltip::after,
  	.active-section .bubbles.tooltip-fadeout::after {
        width: 12px;
        height: 12px;
        border-radius: 0 0 2px 0;
    }
}