.drawer--right {
    width: 400px;
    right: -400px;
    z-index: 999999999;
}
body.js-drawer-open-right {
    overflow: hidden;
} 
.js-drawer-open-right .drawer--right {
    transform: translateX(-400px);
    -webkit-box-shadow: 0 0 8px 1px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 0 8px 1px rgba(0,0,0,.15);
    box-shadow: 0 0 8px 1px rgb(0 0 0 / 15%);
}
.cart-drawer-layout {
    display: none;
    transition: all .45s cubic-bezier(.29, .63, .44, 1);
    background-color: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
}
.js-drawer-open .cart-drawer-layout {
    display: block;
}
.drawer {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    padding: 0 15px 15px;
    max-width: 95%;
    z-index: 1000;
    transition: all .4s cubic-bezier(.46, .01, .32, 1) 0s;
    background-color: #fff;
}
.drawer__header {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 0;
    border-bottom: 2px solid #e0e7e6;
    text-align: center
}
#CartContainer p {
    font-size: 18px;
    color: var(--color-secondary);
    font-family: var(--font-cerebri-book);
    line-height: 1.4;
}
.drawer__title {
    width: 100%;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: var(--font-primary-normal);
    color: var(--color-secondary)
}
.free-ship {
    font-size: 15px;
    font-family: var(--font-cerebri-book);
    color: var(--color-Xdark-green)
}
.drawer__close {
    top: 7px;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    left: 15px;
}
.shipping-mot {
    font-size: 15px;
}
.ajaxcart__inner {
    margin-bottom: 10px;
}
.ajaxcart__product {
    position: relative;
    max-height: 500px;
}
.ajaxcart__row {
    padding-bottom: 8px;
    margin-bottom: 15px;
    border-bottom: 2px solid #e0e7e6;
}
.ajaxcart__row>.grid {
    margin-left: -15px;
    margin: 0
}
#onlysubtotal p {
    margin: 0 0 40px;
    font-family: var(--font-cerebri-book);
}
.ajaxcart__row>.grid>.grid__item {
    padding-left: 15px;
}
.three-tenths {
    width: 30%;
    max-width: 100%
}
.seven-tenths {
    width: 70%;
    max-width: 100%
}
.grid__item {
    float: left;
}
a:not(.grid-view-item__link) {
    color: #083d3a;
    text-decoration: none;
}
.ajaxcart__product-image {
    display: block;
    overflow: hidden;
    height: 100%
}
.ajaxcart__product-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
}
.ajaxcart__product .subtitle {
    margin-bottom: 7px;
}
.ajaxcart__line-price {
    position: absolute;
    top: 0;
    right: 0;
}
.ajaxcart__qty {
    margin: 0;
    position: relative;
    max-width: 75px;
    width: 100%;
    display: flex;
    -webkit-background-clip: padding-box;
    outline: 0;
    height: 30px;
    border: 2px solid #e0e7e6;
    border-radius: 4px;
}

.ajaxcart__qty svg.icon {
    width: 10px;
    height: 10px;
}
.ajaxcart__qty svg.icon path {
    fill: var(--color-ultra-dark-green);
}
.drawer .ajaxcart__qty-adjust {
    cursor: pointer;
    max-width: 25px;
    flex: 25px;
    background: #fff;
    border: 0;
}
.ajaxcart__qty-inner {
    display: flex;
    align-items: center;
}
.drawer .ajaxcart__qty-num {
    flex: 1;
    width: 100%;
    border: 0;
    outline: 0;
    box-shadow: none;
    font-size: 12px;
    text-align: center;
    color: var(--color-ultra-dark-green);
}
.ajaxcart__delete {
    background-color: transparent;
    border: none;
    display: inline-block;
    font-size: 14px;
    font-family: var(--font-cerebri-book);
    color: var(--color-secondary);
    margin-left: 6px;
    cursor: pointer;
}
.ajaxcart .cart__checkout {
    width: 100%;
    margin-bottom: 10px;
    max-width: 100%;
    font-size: 18px;
}
.ajaxcart .btn {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid var(--color-Xdark-green);
    border-radius: 5px;
    padding: 0 5px;
    background-color: var(--color-Xdark-green);
    color: #fff;
    font-family: var(--font-primary-normal);
    font-weight: 400;
    text-transform: none;
    white-space: normal;
    height: 56px;
    line-height: 52px;
    font-size: 20px;
}
.is-transitioning {
    display: block!important;
    visibility: visible!important;
}
.upsell-header {
    font-style: italic;
    font-size: 16px;
    margin: 10px 0;
    font-family: var(--font-cerebri-book);
    color: var(--color-ultra-dark-green);
}
.ajaxcart__footer #cloverly-check-wrapper p {
    color: var(--color-ultra-dark-green) !important;
}
.drawer input, .drawer textarea {
    border-color: #e0e7e6;
}
.grid--half-gutters {
    margin-left: -20px;
    margin-bottom: 5px;
}
.grid-view-item__image {
    display: block;
    margin: 0 auto 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ajaxcart__product-name .bold {
    font-family: var(--font-primary-normal);
    font-size: 18px;
    color: var(--color-Xdark-green)
}
.ajaxcart__product-wrapper .bold {
    font-family: var(--font-primary-normal);
    font-size: 18px;
    color: var(--color-Xdark-green)
}
.ajaxcart__line-price span {
    font-size: 18px;
    color: var(--color-secondary);
    font-family: var(--font-cerebri-book);
}
.grid--half-gutters>.grid__item {
    padding-left: 20px;
}

.upsell-form .ajaxcart__product-name {
    line-height: 1.4;
}
.ajaxcart__product-meta, .ajaxcart__product-name {
    display: block;
}
.ajaxcart__product-name {
    line-height: 1.4;
    margin-bottom: 5px;
}
.drawer__close .icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    fill: var(--color-secondary);
}
.ajaxcart__product-name .subtitle {
    font-size: 13px;
    font-family: var(--font-cerebri-book);
    color: var(--color-Xdark-green)
}
.ajaxcart__product-wrapper .subtitle {
    font-size: 13px;
    font-family: var(--font-cerebri-book);
    color: var(--color-Xdark-green)
}
.btn--secondary {
    background-color: #fff;
    color: var(--color-Xdark-green);
    border: 0.2rem solid var(--color-Xdark-green);
    cursor: pointer;
}
.btn--secondary:focus, .btn--secondary:hover {
    color: #fff;
    background-color: var(--color-Xdark-green);
    opacity: 1;
    border-color: transparent;
    outline-offset: 0;
}
.btn--secondary:focus .price, .btn--secondary:hover .price {
    color: #fff;
}
.btn--secondary .price {
    color: var(--color-Xdark-green);
}
.btn--small, a.btn--small {
    width: auto;
    line-height: 26px;
    height: 30px;
    font-size: 14px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary-normal)
}
.cart-divider {
    margin: 0 5px;
}
@media screen and (max-width: 767px) {
    .ajaxcart__row .grid__item:first-child {
        padding-left: 0;
    }
    .ajaxcart__product-wrapper .bold {
        font-size: 17px;
        letter-spacing: 0.1px;
    }
    .ajaxcart__line-price span {
        font-size: 17px;
    }
    #CartContainer p {
        font-size: 16px;
    }
    .ajaxcart__qty {
      max-width: 100px;
    }
}