/* common css start */
.rounded-button {
  border-radius: 22px;
  text-transform: uppercase;
}
.main_container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}
.text-center {
  text-align: center
}
/* common css end */