.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;
  flex: 1;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  margin-right: 12px;
  font-family: var(--font-cerebri-medium);
  outline: 0;
  box-shadow: none;
  font-size: 13px;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }

  .newsletter-form__message--success {
    position: absolute;
    left: 0;
    bottom: -65%;
  }
}

.newsletter-form__button {
  max-width: 25%;
  flex: 25%;
  margin: 0;
  color: var(--color-dark-green);
  background-color: #fff;
  border-radius: 5px;
  font-family: var(--font-cerebri-medium);
  font-size: 16px
}

